@charset 'UTF-8';
@font-face {
    font-family: opensans;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}



*{
    user-select: none;
    font-family: opensans, sans-serif;
     padding: 0;
     margin: 0;
 }

 body{
    
    background-color: rgb(255, 255, 255);
 }

 /*Estilo do Input*/

.container span.material-symbols-outlined {
    
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 10px;
    user-select: none;
    transform: scale(1.2);
    transition: all 0.5s;
   

  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 44
  
}

.container .material-symbols-outlined:hover, #remove:hover{
    transform: scale(1.4);
}




#input{
    background-color: rgb(139, 197, 207);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-top: 15px;
}

.container{
    
    border-radius: 3px;
    margin: auto;
    
    padding-bottom: 5px;
    text-align: center;
    max-width: 535px;
    width: 95%;
    max-height: 300px;
    height: auto;
    background-color: rgb(186, 232, 240);
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.219);

   scroll-behavior: smooth;
  

    overflow: auto;
}

.container::-webkit-scrollbar {
   
    width: 5px;
  }
.container::-webkit-scrollbar-track{
    background-color: rgb(186, 232, 240);
}

  .container::-webkit-scrollbar-thumb {
    background-color: #719aa2;
    border-radius: 10px;
    
}

#divCompletes{
    display: none;
    border-radius: 3px;
    
    margin: auto;
    
    
    padding-bottom: 5px;
    text-align: center;
    max-width: 535px;
    width: 95%;
    max-height: 300px;
    height: auto;
    background-color: rgb(186, 232, 240);
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.219);

   scroll-behavior: smooth;
  

    overflow: auto;
}

#divCompletes ul{
    margin: auto;
    margin-top: 15px;
    
    width: 80%;
}

input[type='text']{
    
    
    border: none;
    width: 80%;
    height: 20px;
    padding: 5px;
    font-size: 1.1em;
    
}
input[type='text']:focus{
    outline: none;
}


/*Estilo da Lista*/

#list{
    
    margin: auto;
    margin-top: 5px;
    width: 90%;
    
   
}

ul{
    margin-top: 5px;

    background-color: aliceblue;
    border-radius: 5px;
    text-transform: lowercase;
    display: flex;
    text-align: left;
    padding: 15px;
    list-style: none;
    align-items: center;
    justify-content: space-between;

    font-weight: bold;
    font-size: 0.84em;
   
    
}



div.material-symbols-outlined{
    color: rgb(68, 196, 68);
    cursor:  pointer;
    transition: all 0.5s;
}



#seta{
    display: none;
    position: sticky;
    top: 0;
    transform: rotate(180deg);
   
   
   
}


/*Footer*/

footer{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(186, 232, 240);
    width: 150px;
    height: 60px;
    
    margin: auto;
    margin-top: 10px;

    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

footer:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.219);

}

img{
    
    background-color: rgb(253, 253, 253);
    padding: 2px;
    border-radius: 5px;
    width: 50px;
    height: 50px;

    
}


/*Navegacao*/

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;

    max-width: 525px;
    width: 93%;
    background-color: rgb(127, 181, 190);
    margin: auto;

    margin-top: 20px;
    padding: 5px;
    
}

.nav button{
    background-color: #dff7fd;
    border: none;
    border-radius: 4px;

    font-size: 1.1em;
    width: 30%;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

.nav button:hover{
    transform: scale(1.1);
}

#remove{
    color: red;
    cursor: pointer;
    transition: all 0.5s ;
    
}


